#back{
    height: 50px;
    background-color: #e6e6e6;
}
#back a{
    position: relative;
    top: 15px;
    left: 9%;
    font-size: 15px;
    font-weight: 800;
    color: black;
}
#detail-layout{
    height: 1800px;
    margin-left: 9%;
}
.detail-content{
    margin-top:40px;
    width: calc(100% - 400px);
    display: inline-block;
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 40px;
}
.detail-content img{
    width: 100%;
}
.detail-content h1{
    font-size: 30px;
    margin-bottom: 20px;
}
#detail-title{
    position: sticky;
    top:40px;
    margin-top:40px;
    margin-right:40px;
    width: 300px;
    height: 350px;
    float: right;
}
#detail-title h1{
    font-size: 22px;
    margin-bottom: 10px;
}
#detail-title h2{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
}
#detail-title h3{
    font-size: 25px;
    margin-bottom: 20px;
}
#detail-title #agent-contacts{
    border-bottom: 2px solid #e6e6e6;
    border-top: 2px solid #e6e6e6;
    padding:20px 0;
}
#detail-title #agent-contacts div{
    display:flex;
    align-items: center;
    margin: 20px 0;
}
#detail-title #agent-contacts img{
    width: 40px;
    margin-right: 20px;
}
#detail-title #agent-contacts p{
    font-size: 20px;
}
#detail-title #agent-contacts button{
    background-color: #BE2C2D;
    color: white;
    border-style: none;
    box-shadow: none;
    padding: 10px 0;
    width: 100%;
    border-radius: 30px;
    font-size: 20px;
}
#detail-data span{
    margin-right: 40px;
}
#detail-data span i{
    margin-right: 10px;
    font-size: 20px ;
}
#detail-features ul{
    list-style-type: none;
}
#detail-features li{
    margin-bottom: 10px;
}
#detail-features i{
    margin-right: 10px;
}
#detail-description p{
    text-align: justify;
    font-size: 15px;
}