#uploadpage{
    background-color: #BE2C2D;
    color: white;
}
#uploadpage img{
    display: block;
    margin: auto;
}
#uploadpage h2{
    text-align: center;
}
#uploadpage form{
    width: 50%;
    margin: auto;
}
#uploadpage label{
    display: block;
    margin-top: 30px;
}
#uploadpage input{
    height: 30px;
    width: 100%;
}
#uploadpage li{
    list-style: none;
    margin: 10px 0;
}
#uploadpage textarea{
    height: 200px;
    width: 100%; 
    margin: 10px 0;
}
#uploadpage #blank{
    height: 200px;
   
}
